* {
    --info-background: #d1eff7;
    --footer-top-margin: 50px;
    --footer-height: 200px;
    --max-with-central-content: 72rem;
    --dark-bg-color: #292828;
    --dark-fg-color: #d4be98;
    --dark-secondary-fg-color: #a89984;
    --parenthesis-color: #ea6962;
    --link-color: #89b482;

    box-sizing: border-box;
}

body {
    color: var(--dark-fg-color);
    background-color: var(--dark-bg-color);
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .layout{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh + var(--footer-height) + var(--footer-top-margin));
    }
}

button.prevent-default{
    border: none;
    background: none;
    font-size: inherit;
    color: inherit;
}

.icon {
    margin: 0 5px;
}

.clickable {
    cursor: pointer;
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.center-content {
    max-width: var(--max-with-central-content);
}

main {
    width: 100%;
    padding: 60px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

}

footer {
    width: 100%;
    margin-top: var(--footer-top-margin);
    height: var(--footer-height);
    padding: 30px;

}

header {
    width: 100vw;
    padding: 30px;
    height: 100px;
    display: flex;
    align-items: center;

    .hide-unless-hover .hidden{
        display: inline-block;
        vertical-align: bottom;
        max-width: 0%;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
    }

    .hide-unless-hover:hover {
        .hidden {
            max-width: 100%;
        }
    }


    .logo{
        font-size: 1.5rem;
        text-decoration: none;


        &:hover{
            text-decoration: none;
        }

        .paren {
            color: var(--parenthesis-color);
        }
    }

    .separator{
        flex-grow: 1;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    a {
        text-decoration: none;
    }

    .header-user {
        display: flex;
        align-items: center;
        gap: 20px;

    }
}

button, .button {
    color: inherit;
    font-size: inherit;
    background: none;
    padding: 15px;
    border: 1px solid var(--dark-secondary-fg-color);
    border-radius: 5px;

    &:disabled {
        opacity: 0.5;
    }

    &:not([disabled]):hover{
        cursor: pointer;
        border: 1px solid var(--parenthesis-color);
        text-decoration: none;
    }
}

.blog-posts-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
    row-gap: 20px;

}

.posts-container-navigation {
    width: 80%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button:hover:not(:disabled){
        text-decoration: underline;
        border: none;
    }
}

.post-card {
    display: flex;
    flex-direction: column;
    width: 47%;
    border: 1px solid var(--dark-secondary-fg-color);
    border-radius: 5px;
    padding: 20px;
    transition: all 0.1s ease-in;

    .preview {
        padding-left: 10px;
        opacity: 0.5;
        flex-grow: 1;

        &::before {
            content: "> ";
        }
    }

    .lower-strip {

        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:hover{
        border-color: var(--parenthesis-color);
    }
}

.date {
    font-style: italic;
    color: var(--dark-secondary-fg-color);
}

.post {
    width: 100%;
}

.post-title {
    text-align: center;
    p {
        margin: 0;
    }

    .details{
        opacity: 0.5;
    }

    margin-bottom: 5rem;
}

.create-container{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    input, textarea {
        background: inherit;
        color: inherit;
        border: 1px solid var(--dark-secondary-fg-color);
        border-radius: 5px;
        font-size: inherit;
    }

    .md-editor {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        flex-grow: 1;


        input {
            padding: 10px 20px;
        }

        textarea {
            padding: 20px;
            flex-grow: 1;
            width: 100%;
            resize: none;
        }
    }

    .md-preview {
        width: 100%;
    }

    .editor-bar {
        padding: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;

        .icon {
            margin: 0 5px;
        }

    }
}

.login, .register {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #5c5c5c;
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-wrapper {
        position: relative;
        width: 100%;

        .icon {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #ccc;
        }

        input {
            background-color: #ececec;
            border: none;
            padding: 15px;
            padding-left: 40px;
            margin: 5px 0;
            border-radius: 30px;
            width: 100%;
        }
    }


    button {
        margin-top: 30px;
        margin-bottom: 10px;
        width: 100%;
        padding: 15px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
    }

    button:disabled {
        opacity: 0.7;
    }

    button:not([disabled]):hover, button:focus {
        background-color: #45a049;
    }

    button:hover{
        border: none;
    }

    a {
        font-size: small;
        display: block;
        text-align: center;
        color: #888;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .bottom {
        justify-self: flex-end;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .service-notification {
        width: fit-content;
        padding: 15px;
        border-radius: 10px;
        margin: 10px;

        &.info {
            background-color: var(--info-background);
        }

        &.success {
            background-color: #94e1a6;
        }

        &.warning {
            background-color: #fdf5b7;
        }

        &.error {
            background-color: #ffcccb;
        }
    }
}

